<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/create" method="POST">
      <input type="text" name="id" id="id" hidden>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido">
      <label for="equipo">Equipo:</label>
      <input type="text" name="equipo" id="equipo">
      <label for="edad">Edad:</label>
      <input type="text" name="edad" id="edad">
      <button type="button" id="guardar">Enviar</button>
    </form>

    <br>

    <table id="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Equipo</th>
          <th>Edad</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody id="t-body">

      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
